.flex-container{
    display:flex;
    flex-direction:column;
    background-color: aquamarine;
    align-items:center;
}

button{
    width:150px;
    height:auto;
    background-color:blueviolet;
    border-radius:3px;
    font-size:large;
}